#gate {
  cursor: pointer;
  margin-bottom: 100px;
  width: 83px;
  height: 46px;
}

.img_cloth {
  width: 200px;
  height: 300px;
  opacity: 1;
  cursor: pointer;
}

#capture_cody{
  width: 1300px;
  height: 100%;
}

#list{
  border: 1px solid #999999;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  margin: 0px;
  
}

.closet_inner {
  width: 1100px;
  margin: 0 auto;
}
.closet_subinner {
  width: 1300px;
  margin: 0 auto;
}

/*info*/
.infoimg{
 padding: 0;
}
.infosize{
  height: 500px;
}
#mycustom{
  font-family:'nike';
  font-size: 7rem;
  font-weight: bold;
  color: #000;
}
#mycustom2{
  font-family:'nike';
  font-size: 3.5rem;
  font-weight: bold;
  color: #000;
}
#mycustom3{
  font-family:'nike';
  font-size: 5rem;
  font-weight: bold;
}

.closet_subinner{
}


.captureBtn{
  padding-left: 200px;
}


.capture{
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 30px 0px;
}

.captureDiv{
  display: grid;
  justify-content: center;
  align-items: center;
}

.captureInput{
  display: flex;
  flex-direction: column;
  width: fit-content;
  width: 500px;
}

.captureInput > input{
  margin: 10px 0px;
}

.captureImg{
  display: grid;
  justify-content: center;
}

.filebox{
  padding-bottom: 10px;
}
.filebox .upload-name {
  display: inline-block;
  height: 40px;
  padding: 0 10px;
  vertical-align: middle;
  border: 1px solid #dddddd;
  width: 78%;
  color: #999999;
}

.filebox label {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  vertical-align: middle;
  background-color: #999999;
  cursor: pointer;
  height: 40px;
  margin-bottom: 0;
}

.filebox input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
canvas{
  margin: 10px;
}

.inlinest{
  display: inline-block;
  margin-right: 10px;
}
.btntxt{
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  vertical-align: middle;
  background-color: #999999;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 10px -2px;
  height: 40px;
  width: 160px;
  margin: 0;
}
.btntxt:hover{
  background-color: #888888;
}
.btntxt:focus{
  outline: none;
}
.textbtn{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 160px;
  height: 50px;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 10px -2px;
  background-color: white;
  margin-bottom: 10px;
  padding-left: 10px;
}
.inputtxt{
  border: none;
  width: 100px;
  font-family: 'nanum';
  font-size: 16px;
}
.inputtxt:focus{
  border: white;
  outline: none;
}
.inputtxt:active{
  border: none;
  outline: none;
}