#gate {
  cursor: pointer;
  margin-bottom: 100px;
  width: 83px;
  height: 46px;
}

.img_cloth {
  width: 200px;
  height: 300px;
  opacity: 1;
  cursor: pointer;
}

#capture_cody{
  background-color: red;
  width: 80%;
  height:800px;
  margin-left: 10%;
}

#list{
  background-color: gray;
  width: 80%;
  height:800px;
  margin-left: 10%;
}
.mag{
  font-size: 15px;
  margin-right: 20px;
  color: black;
}
.inner {
  width: 1300px;
  margin: 0 auto;
  position: relative;
}
.pd-top{
  padding-bottom: 20px;
}