body{
  overflow-x: hidden;
}
.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}
.used_inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

#map{
  border: 3px; 
  border-style:solid; 
  border-color:skyblue;
}

.region{
  float: right;
  margin-right: 85px;
  border: 1px;
  border-color: #D3D3D3;
  border-style: solid;
  margin-top: 35px;
}

.page-item{
  float: left;
  margin-inline-start: 10px; 
}

td a:link { color: black; text-decoration: none;}
td a:visited { color: black; text-decoration: none;}
td a:hover { color: gray; text-decoration: none;}
button a:link { color: black; text-decoration: none;}
button a:visited { color: black; text-decoration: none;}
button a:hover { color: gray; text-decoration: none;}
#map{margin-left:auto; margin-right:auto;}
