body{
  overflow-x: hidden;
}
.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}
.visual{
    margin: 200px;
  }
  th,td{
    padding: 15px;
  }
  .mag{
    font-size: 15px;
    margin-right: 20px;
    color: black;
  }
  .inner {
    width: 1300px;
    margin: 0 auto;
    position: relative;
  }